<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 id="WebApp_ID" version="3.1">

  <display-name>Proxybanquev3trio</display-name>

  <welcome-file-list>
    <welcome-file>login.xhtml</welcome-file>
  </welcome-file-list>



	<!--Apply filter to secure pages from direct access-->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.trio.proxibanquev3.presentation.LoginFilter</filter-class>
	</filter>
  	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/secured_pages/*</url-pattern>
	</filter-mapping>
  <!-- 2/ Mapping URLS /Faces/* vers la servlet JSF Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- 3/ Execution JSF en mode 'developpement'. logs supplémentaires. -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>afterwork</param-value>
	</context-param>
	
	
	<context-param>
	<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
	<param-value>client</param-value>
	</context-param>


	<!--Paramétrage de session-->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>


  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
  
</web-app>

